@import url('https://fonts.cdnfonts.com/css/giorgio-sans-trial');
h2 {
    font-size: 18px;
    text-align: center;
    font-family: 'Giorgio Sans Trial', sans-serif;
    color: rgb(0, 51, 141);
  
 }
